@import '../../assets/styles/breakpoints';
@import '../../assets/styles/colors';
@import '../../assets/styles/variables';

.startPageHero {
    &__base {
        background: $c-white;
        padding: 120px 0 160px;
        border-bottom-left-radius: 64px;
        border-bottom-right-radius: 64px;
        transform: translateY(-96px);
        box-shadow: $bs-header;
    }

    &__floatingImg {
        animation-name: floating;
        -webkit-animation-name: floating;
        animation-iteration-count: infinite;
        -webkit-animation-iteration-count: infinite;
        animation-timing-function: linear;
        -webkit-animation-timing-function: linear;
        animation-duration: 8s;
        object-fit: contain;
        width: 50%;
        z-index: -1;
    }

    &__ctaLink {
        margin: 48px 0;
        display: flex;
        flex-direction: column;
        gap: 16px;
        align-items: center;
        font-size: 24px;
        font-weight: $f-weight-bold;
        letter-spacing: -0.24px;
        line-height: 130%;
        text-decoration: none;
        color: $c-black;
        transition: color $d-short;

        &:hover {
            color: $c-primary;
        }
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 64px;
    }

    &__heading {
        &Container {
            display: flex;
            flex-direction: column;
            gap: 32px;
            align-items: center;
        }

        &Text {
            width: 75%;
            text-align: center;
            margin: 0;

            &Content {
                width: 80%;
                margin: 0;
                text-align: center;
                line-height: 170%;
            }
        }
    }

    &__subGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 16px;

        &Item {
            padding: 24px;
            background: transparent;
            border-radius: 48px;
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-areas: 
            'mainHero mainHero sideHero'
            'subItem1 subItem2 subItem2'
        ;
        gap: 16px;

        &Item {
            display: flex;
            flex-direction: column;
            gap: 24px;
            padding: 48px;
            border-radius: 48px;
            background: $c-white;
            border: 1px solid $c-slate-dark;
            overflow: hidden;

            &--subItem {
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 32px;
                background: $c-slate-gradient;

                * {
                    margin: 0;
                }
            }

            &Divider {
                height: 1px;
                width: 100%;
                background: $c-slate-dark;
                margin: 24px 0;
            }

            &Button {
                text-decoration: none;
                margin-top: 24px;
            }

            &Title,
            &Text {
                margin: 0;
            }

            &Image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }

            &:nth-child(1) {
                grid-area: mainHero;
                background: $c-primary-gradient;
                color: $c-white;
            }

            &:nth-child(2) {
                grid-area: sideHero;
                background: $c-light-gradient;
            }

            &:nth-child(3) {
                grid-area: subItem1;
                padding: 0;
            }

            &:nth-child(4) {
                grid-area: subItem2;
            }
        }
    }
}

@keyframes floating {
	0% {
		transform: translateY(0%);	
	}
	50% {
		transform: translateY(5%);	
	}
	100% {
		transform: translateY(0%);
	}			
}