@import "../../assets/styles/breakpoints";
@import "../../assets/styles/colors";
@import "../../assets/styles/variables";
@import "../../assets/styles/layout";

.ourValues {
    &__base {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__grid {
        display: grid;
        gap: 15px;

        @include lg {
            grid-template-columns: repeat(5, 1fr);
        }
    }

    &__title {
        text-align: center;
    }
}

.valueItem {
    &__base {
        width: 100%;
        background: $c-white;
        padding: 32px;
        border-radius: 32px;
        text-align: center;
        display: flex;
        flex-direction: column;
    }

    &__subText {
        align-self: flex-start;
    }
}
