@import '../../assets/styles/breakpoints';
@import '../../assets/styles/colors';
@import '../../assets/styles/variables';

.whyItsImportant {
    &__base {
        background: $c-white;
        padding: 48px 0;
        border-radius: 48px;
    }
}

.seoImportance {
    &__base {
        padding: 48px 0 96px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    &__metrics {
        &Container {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 96px;
            padding: 180px 0;

            @include lg {
                gap: 120px;
            }
        }

        &Item {
            color: $c-black;
            background: $c-green-gradient;
            border: 1px solid #05CC63;
            padding: 32px;
            border-radius: 50%;
            font-size: 24px;
            font-weight: $f-weight-bold;
            width: 24px;
            height: 24px;
            display: flex;
            align-items: center;
            justify-content: center;

            @include lg {
                padding: 96px;
                width: 150px;
                height: 150px;
                font-size: 48px;
            }

            &:nth-child(2) {
                transform: scale(2) translateY(-20px);
                box-shadow: 0px 15px 29px 0px rgba(116, 255, 139, 0.55);
            }
        }

        &Title {
            &Container {
                display: flex;
                flex-direction: column;
                align-items: center;
                text-align: center;
            }

            &Text {
                margin: 0;
            }
        }

        &Text {
            width: 75%;
            line-height: 170%;
        }
    }
}

.importanceOfDesign {
    &__base {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 32px;
    }

    &__title {
        &Container {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        &Text {
            margin: 0;
        }
    }

    &__container {
        padding: 48px;
        border-radius: 48px;
        background: $c-light-gradient;
        width: 100%;
        min-height: 500px;
    }
}

.designBrowser {
    &__base {
        display: flex;
        flex-direction: column;
        border-radius: 24px;
        overflow: hidden;
        min-height: 500px;
        background: $c-white;
    }

    &__navBar {
        background: #3D3E40;
        padding: 10px 16px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 8px;
        border-bottom: 1px solid #555557;
        width: 100%;

        &Item {
            padding: 8px;
            border-radius: 50%;

            &:nth-child(1) {
                background: #ED655A;
            }

            &:nth-child(2) {
                background: #E1C04C;
            }

            &:nth-child(3) {
                background: #72BE47;
            }
        }
    }
}