@import './assets/styles/buttons';
@import './assets/styles/typography';
@import './assets/styles/colors';
@import './assets/styles/layout';

* {
  &,
  &::before,
  &::after {
      box-sizing: border-box;
  }
}

body {
  position: relative;
  margin: 0;
  overflow-x: hidden;
  background: $c-primary-bg;
}

.overflow-x-hidden {
  overflow-x: hidden;
}

.sr-only {
  position: absolute;
  overflow: hidden;
  width: 1px;
  height: 1px;
  padding: 0;
  border: 0;
  margin: -1px;
  clip: rect(0, 0, 0, 0);
}